<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios Disponibles</h3>
                    <ul>
                        <li><a href="#">Cursos de resposteria</a></li>
                        <li><a href="#">Envios a domicilio</a></li>
                        <li><a href="#">Sucursales</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sobre Nosotros</h3>
                    <ul>
                        <li><a href="#">Dunkelheit Concepción</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Dirección</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Dunkelheit</h3>
                    <p>En Dunkelheit nos apasiona las pasteleria y es nuestro deber entregar un servicio que deje
                        satisfechos a nuestros clientes, junto a nosotros
                        puedes encontrar gran variedad de opciones ya sea para comprar y servir en el local o para
                        llevar de nuestro variado catalogo de pasteles y resposteria.</p>
                </div>
            </div>
            <div class="col item social">
                <a href="#"><i class="icon ion-social-facebook"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
        </div>
        <p class="copyright">Dunkelheit © 2022</p>
</footer>
</div>